<!DOCTYPE html>
<html lang="en">
<head>	
	<%- include('./partials/head'); -%>
</head>
<body>
<div class="container-fluid py-4">
	  
</div>


<!-- <script src="/js/dashboardAjax.js"></script> -->

<!--   Core JS Files   -->
<!-- <script src="/vendors/chartjs.min.js"></script> -->

<%- include('./partials/script'); -%>
<script src="/public/admin/js/orders.js"></script>
<script src="/public/admin/js/index.js"></script>
</body>

</html>




</script>