<!-- Modal -->
<div class="modal fade" id="addToCartModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-0">
                <section class="my-modal-content p-4 position-relative">
                    <h1 class="title mb-4 text-gradient text-center">Choose size and stock</h1>
                    <form>
                        <div class="form-content flex-between-center">
                            <div class="custom-form-field">
                                <label class="label fw-bold">Size: </label>
                                <select id="stock-size-addToCart" class="form-select border border-1 rounded-3" required>
                                </select>
                                <label class="error-msg"></label>
                            </div>
                            <div class="custom-form-field">
                                <label class="label fw-bold">Quantity: </label>
                                <input type="number" id="stock-quantity-addToCart" class="input-text border border-1 rounded-3" min="1" max="" step="1" value="1"
                                    required>
                                <label class="error-msg"></label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" id="btn-add-to-cart"
                                class="my-button button-hover-shake px-4 hover-color-primary rounded-pill">Add</button> 
                        </div>
                    </form>
                    <button class="fw-bold custom_close_icon" data-bs-dismiss="modal">
                        <i class="fa-solid fa-x"></i>
                    </button>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    $('#stock-size-addToCart').on('change', function() {
        const options = $('.option-size');
        for (let i of options) {
            if ($(i).val() === $(this).val()) {
                $('#stock-quantity-addToCart').attr('max', $(i).data('info'));
            }
        }
    })
</script>