<!-- Modal -->
<div class="modal fade" id="requireLoginModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-0">
                <section class="my-modal-content p-4 position-relative">
                    <h1 class="title text-gradient text-center" style="height: 5rem;">Requires login</h1>
                    <p class="text-center fs-5">Please log in to continue</p> 
                    <div class="text-center">
                        <a class="my-button button-hover-shake hover-color-primary rounded-pill px-4 mt-4 mb-3" href="/login">Login</a>
                    </div>
                    <button class="fw-bold custom_close_icon" data-bs-dismiss="modal">
                        <i class="fa-solid fa-x"></i>
                    </button>
                </section>
            </div>
        </div>
    </div>
</div>