<div class="col-10">
    <div class="home-filter hide-on-mobile-tablet">
        <span class="home-filter__sortby">Sắp xếp theo</span>
        <button class="home-filter__btn btn">Phổ biến</button>
        <button class="home-filter__btn btn btn--primary">Mới nhất</button>
        <button class="home-filter__btn btn">Bán chạy</button>

        <div class="input-selection">
            <span class="input-selection__label">
                Giá
            </span>
            <i class="input-selection__icon fa-solid fa-angle-down"></i>

            <ul class="input-selection__list">
                <li class="input-selection__item">
                    <a href="" class="input-selection__link">Giá: Thấp đến cao</a>
                </li>

                <li class="input-selection__item">
                    <a href="" class="input-selection__link">Giá: Cao đến thấp</a>
                </li>


            </ul>

        </div>

        <div class="home-filter__page">
            <span class="home-filter__page-num">
                <span class="home-filter__page-current">1</span>/14
            </span>

            <div class="home-filter__page-direction">
                <a href="" class="home-filter__page-btn home-filter__page-btn--disabled">
                    <i class="home-filter__page-icon fa-solid fa-angle-left"></i>
                </a>

                <a href="" class="home-filter__page-btn">
                    <i class="home-filter__page-icon fa-solid fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>

    <nav class="mobile-category">
        <ul class="mobile-category__list">
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
            <li class="mobile-category__item">
                <a href="" class="mobile-category__link">Dụng cụ & Thiết bị tiện ích</a>
            </li>
        </ul>
    </nav>

    <div class="home-product">
        <div class="row">
            <div class="col-3 mt-3">
                <a class="home-product-item" href="#">
                    <!-- <div class="home-product-item__img" style="background-color: url(https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg);"></div> -->
                    <img class="home-product-item__img"
                        src="https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg"
                        alt="">
                    <h4 class="home-product-item__name">CẶP GỘI XẢ TRESEMME</h4>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">1.300.000đ</span>
                        <span class="home-product-item__price-current">1.220.000đ</span>
                    </div>
                    <div class="home-product-item__action">
                        <span class="home-product-item__like home-product-item__like--liked">
                            <i class="home-product-item__like-icon fa-regular fa-heart"></i>
                            <i class="home-product-item__liked-icon fa-solid fa-heart"></i>
                        </span>
                        <div class="home-product-item__rate">
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                        </div>
                        <span class="home-product-item__sold">Đã bán </span>
                    </div>
                    <div class="home-product-item__origin">
                        <span class="home-product-item__brand">Unilever</span>

                        <span class="home-product-item__origin-country">
                            Hoa Kỳ
                        </span>
                    </div>

                    <div class="home-product-item__favorite">
                        <i class="fa-solid fa-check"></i>
                        <span>Yêu thích</span>
                    </div>

                    <div class="home-product-item__sale-off">
                        <span class="home-product-item__sale-off-percent">
                            10%
                        </span>

                        <span class="home-product-item__sale">GIẢM</span>
                    </div>
                </a>
            </div>

            <div class="col-3 mt-3">
                <a class="home-product-item" href="#">
                    <!-- <div class="home-product-item__img" style="background-color: url(https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg);"></div> -->
                    <img class="home-product-item__img"
                        src="https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg"
                        alt="">
                    <h4 class="home-product-item__name">CẶP GỘI XẢ TRESEMME</h4>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">1.300.000đ</span>
                        <span class="home-product-item__price-current">1.220.000đ</span>
                    </div>
                    <div class="home-product-item__action">
                        <span class="home-product-item__like home-product-item__like--liked">
                            <i class="home-product-item__like-icon fa-regular fa-heart"></i>
                            <i class="home-product-item__liked-icon fa-solid fa-heart"></i>
                        </span>
                        <div class="home-product-item__rate">
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                        </div>
                        <span class="home-product-item__sold">Đã bán </span>
                    </div>
                    <div class="home-product-item__origin">
                        <span class="home-product-item__brand">Unilever</span>

                        <span class="home-product-item__origin-country">
                            Hoa Kỳ
                        </span>
                    </div>

                    <div class="home-product-item__favorite">
                        <i class="fa-solid fa-check"></i>
                        <span>Yêu thích</span>
                    </div>

                    <div class="home-product-item__sale-off">
                        <span class="home-product-item__sale-off-percent">
                            10%
                        </span>

                        <span class="home-product-item__sale">GIẢM</span>
                    </div>
                </a>
            </div>

            <div class="col-3 mt-3">
                <a class="home-product-item" href="#">
                    <!-- <div class="home-product-item__img" style="background-color: url(https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg);"></div> -->
                    <img class="home-product-item__img"
                        src="https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg"
                        alt="">
                    <h4 class="home-product-item__name">CẶP GỘI XẢ TRESEMME</h4>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">1.300.000đ</span>
                        <span class="home-product-item__price-current">1.220.000đ</span>
                    </div>
                    <div class="home-product-item__action">
                        <span class="home-product-item__like home-product-item__like--liked">
                            <i class="home-product-item__like-icon fa-regular fa-heart"></i>
                            <i class="home-product-item__liked-icon fa-solid fa-heart"></i>
                        </span>
                        <div class="home-product-item__rate">
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                        </div>
                        <span class="home-product-item__sold">Đã bán </span>
                    </div>
                    <div class="home-product-item__origin">
                        <span class="home-product-item__brand">Unilever</span>

                        <span class="home-product-item__origin-country">
                            Hoa Kỳ
                        </span>
                    </div>

                    <div class="home-product-item__favorite">
                        <i class="fa-solid fa-check"></i>
                        <span>Yêu thích</span>
                    </div>

                    <div class="home-product-item__sale-off">
                        <span class="home-product-item__sale-off-percent">
                            10%
                        </span>

                        <span class="home-product-item__sale">GIẢM</span>
                    </div>
                </a>
            </div>

            <div class="col-3 mt-3">
                <a class="home-product-item" href="#">
                    <!-- <div class="home-product-item__img" style="background-color: url(https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg);"></div> -->
                    <img class="home-product-item__img"
                        src="https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg"
                        alt="">
                    <h4 class="home-product-item__name">CẶP GỘI XẢ TRESEMME</h4>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">1.300.000đ</span>
                        <span class="home-product-item__price-current">1.220.000đ</span>
                    </div>
                    <div class="home-product-item__action">
                        <span class="home-product-item__like home-product-item__like--liked">
                            <i class="home-product-item__like-icon fa-regular fa-heart"></i>
                            <i class="home-product-item__liked-icon fa-solid fa-heart"></i>
                        </span>
                        <div class="home-product-item__rate">
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                        </div>
                        <span class="home-product-item__sold">Đã bán </span>
                    </div>
                    <div class="home-product-item__origin">
                        <span class="home-product-item__brand">Unilever</span>

                        <span class="home-product-item__origin-country">
                            Hoa Kỳ
                        </span>
                    </div>

                    <div class="home-product-item__favorite">
                        <i class="fa-solid fa-check"></i>
                        <span>Yêu thích</span>
                    </div>

                    <div class="home-product-item__sale-off">
                        <span class="home-product-item__sale-off-percent">
                            10%
                        </span>

                        <span class="home-product-item__sale">GIẢM</span>
                    </div>
                </a>
            </div>

            <div class="col-3 mt-3">
                <a class="home-product-item" href="#">
                    <!-- <div class="home-product-item__img" style="background-color: url(https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg);"></div> -->
                    <img class="home-product-item__img"
                        src="https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg"
                        alt="">
                    <h4 class="home-product-item__name">CẶP GỘI XẢ TRESEMME</h4>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">1.300.000đ</span>
                        <span class="home-product-item__price-current">1.220.000đ</span>
                    </div>
                    <div class="home-product-item__action">
                        <span class="home-product-item__like home-product-item__like--liked">
                            <i class="home-product-item__like-icon fa-regular fa-heart"></i>
                            <i class="home-product-item__liked-icon fa-solid fa-heart"></i>
                        </span>
                        <div class="home-product-item__rate">
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                        </div>
                        <span class="home-product-item__sold">Đã bán </span>
                    </div>
                    <div class="home-product-item__origin">
                        <span class="home-product-item__brand">Unilever</span>

                        <span class="home-product-item__origin-country">
                            Hoa Kỳ
                        </span>
                    </div>

                    <div class="home-product-item__favorite">
                        <i class="fa-solid fa-check"></i>
                        <span>Yêu thích</span>
                    </div>

                    <div class="home-product-item__sale-off">
                        <span class="home-product-item__sale-off-percent">
                            10%
                        </span>

                        <span class="home-product-item__sale">GIẢM</span>
                    </div>
                </a>
            </div>

            <div class="col-3 mt-3">
                <a class="home-product-item" href="#">
                    <!-- <div class="home-product-item__img" style="background-color: url(https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg);"></div> -->
                    <img class="home-product-item__img"
                        src="https://pos.nvncdn.net/f46f61-49060/ps/20230217_286Z0SNHBcOI6gvZ.jpeg"
                        alt="">
                    <h4 class="home-product-item__name">CẶP GỘI XẢ TRESEMME</h4>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">1.300.000đ</span>
                        <span class="home-product-item__price-current">1.220.000đ</span>
                    </div>
                    <div class="home-product-item__action">
                        <span class="home-product-item__like home-product-item__like--liked">
                            <i class="home-product-item__like-icon fa-regular fa-heart"></i>
                            <i class="home-product-item__liked-icon fa-solid fa-heart"></i>
                        </span>
                        <div class="home-product-item__rate">
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                        </div>
                        <span class="home-product-item__sold">Đã bán </span>
                    </div>
                    <div class="home-product-item__origin">
                        <span class="home-product-item__brand">Unilever</span>

                        <span class="home-product-item__origin-country">
                            Hoa Kỳ
                        </span>
                    </div>

                    <div class="home-product-item__favorite">
                        <i class="fa-solid fa-check"></i>
                        <span>Yêu thích</span>
                    </div>

                    <div class="home-product-item__sale-off">
                        <span class="home-product-item__sale-off-percent">
                            10%
                        </span>

                        <span class="home-product-item__sale">GIẢM</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <ul class="pagination home-product__pagination">
        <li class="pagination-item">
            <a href="" class="pagination-item__link">
                <i class="pagination-item__icon fa-solid fa-angle-left"></i>
            </a>
        </li>

        <li class="pagination-item pagination-item--active">
            <a href="" class="pagination-item__link">
                1
            </a>
        </li>

        <li class="pagination-item">
            <a href="" class="pagination-item__link">
                2
            </a>
        </li>

        <li class="pagination-item">
            <a href="" class="pagination-item__link">
                3
            </a>
        </li>

        <li class="pagination-item">
            <a href="" class="pagination-item__link">
                4
            </a>
        </li>

        <li class="pagination-item">
            <a href="" class="pagination-item__link">
                5
            </a>
        </li>

        <li class="pagination-item">
            <a href="" class="pagination-item__link">
                ...
            </a>
        </li>

        <li class="pagination-item">
            <a href="" class="pagination-item__link">
                14
            </a>
        </li>

        <li class="pagination-item">
            <a href="" class="pagination-item__link">
                <i class="pagination-item__icon fa-solid fa-angle-right"></i>
            </a>
        </li>
    </ul>
</div>
</div>
</div>

</div>