<footer class="footer">
    <div class="footer__content">
        <div class="row">
            <div class="col-3">
                <h3 class="footer__heading">
                    Chăm sóc khách hàng
                </h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">TickID Mall</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Hướng Dẫn Mua Hàng</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="footer__heading">
                    Về TICKID
                </h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Giới Thiệu Về TickID</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Tuyển Dụng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Điều Khoản TickID</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="footer__heading">
                    Danh mục
                </h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Dầu gội đầu</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Dầu xả</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Sữa tắm</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="footer__heading">
                    Theo dõi chúng tôi trên
                </h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__icon fa-brands fa-linkedin"></i>
                            Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>
</div>
