<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Shop
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">All Products</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Popular Items</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">New Arrivals</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <ul class="d-flex cart-and-user-list mb-0 w-100">
                    <li class="me-3">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="fa-solid fa-cart-shopping bi-cart-fill me-1 pe-1"></i>
                            <span class="pe-1">
                                Cart
                            </span>
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </li>
                    <li class="header__navbar-item header__navbar-user">
                        <img src="https://down-vn.img.susercontent.com/file/da97fdeade6243b50ca0ea691badd0a9_tn" alt=""
                            class="header__navbar-user-avatar">
                        <span class="header__navbar-user-name">Huy Quách</span>
    
                        <ul class="header__navbar-user-menu">
                            <li class="header__navbar-user-item">
                                <a href="">Tài khoản của tôi</a>
                            </li>
                            <li class="header__navbar-user-item">
                                <a href="">Địa chỉ của tôi</a>
                            </li>
                            <li class="header__navbar-user-item">
                                <a href="">Đơn mua</a>
                            </li>
                            <li class="header__navbar-user-item header__navbar-user-item--seperate">
                                <a href="">Đăng xuất</a>
                            </li>
                        </ul>
                </ul>
            </form>
        </div>
    </div>
</nav>