<div class="col-2">
    <nav class="category">
        <h3 class="category__heading">Danh mục</h3>
        <ul class="category__list">
            <li class="category__item category__item--active">
                <a href="#" class="category__item-link">Dầu gội đầu</a>
            </li>
            <li class="category__item">
                <a href="#" class="category__item-link">Dầu gội đầu</a>
            </li>
            <li class="category__item">
                <a href="#" class="category__item-link">Dầu gội đầu</a>
            </li>
        </ul>
    </nav>
</div>