a {
  text-decoration: none;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  &.size-4 {
    width: 4rem;
    height: 4rem;
  }
  &.size-35 {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.bg-gradient-success {
  background-image: linear-gradient(310deg, #00ffa2 0%, #00ff62 100%);
}
.bg-gradient-pending {
  background-image: linear-gradient(310deg, #c7cc35 0%, #b4bf23 100%);
}
.bg-gradient-declined {
  background-image: linear-gradient(310deg, #ff8000 0%, #ff0f0f 100%);
}

.currency{
  &::after{
    content: " VND";
  }
}

.cursor-pointer{
  cursor: pointer ;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.limit-line{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  &.line-2{
    -webkit-line-clamp: 2;
  }
  &.line-3{
    -webkit-line-clamp: 3;
  }
}

/* .my-table ul li {
  font-size: 1rem;
  & ~ & {
    margin-left: 0.5rem;
  }
} */
.my-table tr td.padding-1 {
  padding: .5rem;
}

.margin-auto {
  margin: 0 auto;
}

.ml-auto{
  margin-left: auto;
}
.mlr-05{
  margin: 0 .5rem;
}
.mlr-1 {
  margin: 0 1rem;
}
.mlr-2 {
  margin: 0 2rem;
}

.o-hidden {
  overflow: hidden;
}

.text-gradient {
  background-image: linear-gradient(
      to right top,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
  );
  color: transparent;
  -webkit-background-clip: text; 
}


.w-10 {
  width: 10%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}

/* Pagination */
.pagination {
  display: inline-block;
  border-radius: var(--btn-border-radius);
  background-color: var(--background-primary);
  overflow: hidden;
}
.page-numbers {
  padding: .5rem .5rem 0;
  float: left;
  transition: var(--transition-ease);
  color: var(--text-dark); 
  position: relative;
  border-radius: .3rem; 
  &:not(.no_hover):hover {
    background-color: var(--color-success-subtle);
    color: #fff;
  }
  &:not(.prev, .next, .active):hover {
  }
  &.active { 
    background-color: var(--color-success);
    color: #fff;
  }
  & + & {
    margin-left: 0.5rem;
  }
}

/* Modal CSS */ 
.modal {
    background-image: radial-gradient(circle, rgba(41, 58, 76, .8) 0%, rgb(11, 19, 22, .8) 100%);
    transition: var(--transition-ease);
}

button{ 
    background-color: transparent;
}
   
.bg-transparent{
    background: transparent !important;
}
 
.my-modal-content { 
  --title-size: 2.4rem; 
  position: relative;
  background-color: var(--color-white);
  color: var(--text-dark); 
  & .title {
    text-align: center;
    letter-spacing: .2rem;
    font-size: var(--title-size); 
  }
  & button.close{
    --pos: .5rem;
    position: absolute;
    top: var(--pos);
    right: var(--pos);
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--color-dark);
    border-radius: 50%;
    transition: var(--transition-ease);
    & span{
      color: var(--color-dark);
      font-size: 1rem;
      padding: 0.3rem;
      font-weight: bold;
      transition: var(--transition-ease);
    }
    &:hover{
      background-color: var(--background-dark);
      & span{
        color: var(--color-white);
      }
    }
  }
}

.my-form {
  --input-margin: 2rem 0;
  justify-content: space-between;
  & .form-field{
    position: relative;
    margin: var(--input-margin);
    padding: 0;
    width: 45%;
  }
  & input {
    --color-input: gray;
    --border-width: .05rem;
    --transition-linear: all .2s linear;
    display: block;
    width: 100%; 
    height: var(--input-height);
    border-bottom: var(--border-width) solid var(--color-input);
    transition: var(--transition-linear);
    background-color: transparent;
    color: var(--color-dark);
    &:focus + .label, &.not-empty + .label { 
      left: 0;
      bottom: 2rem;
      font-weight: bold;
    } 
    &:focus{
      --border-width: .1rem;
      --color-input: var(--color-dark);
    }
  }

  & .label{
    position: absolute;
    left: .5rem;
    bottom: 1.5rem;   
    transition: var(--transition-ease); 
  }
  & .error-msg{
    position: absolute;
    transform: translateY(-60%);
    left: 0;
    bottom: -100%;
    font-size: .75rem;
    color:var(--color-danger);
    /* &::before{
      content: "* ";
    } */
  }
}


.form-content {
    box-shadow: var(--color-dark-variant) 0px 0.1rem 0.5rem;
    border-radius: var(--medium-border-radius);
    padding: 1rem;
}

.form-field {
    --fs: 1rem;
    position: relative;

    & label:first-child {
        font-weight: bold;
        font-size: calc(var(--fs)*1.2);
    }

    & label:last-child {
        position: absolute;
        bottom: -.3rem;
        display: block;
        color: var(--color-danger);
        font-size: calc(var(--fs)/1.3);
    }

    & .input-text {
        width: 100%;
        border: .1rem solid transparent;
        outline: .01rem solid var(--color-dark-variant);
        border-radius: var(--medium-border-radius);
        padding: 0.3rem 1rem;
        transition: var(--transition-ease);
        color: var(--color-dark);
        background-color: var(--background-input);

        &:hover {
            animation: borders 1s linear infinite;
        }
    }

    & select {
        border: .1rem solid transparent;
        outline: .01rem solid var(--color-dark-variant);
        border-radius: var(--medium-border-radius);
        cursor: pointer;
        color: var(--color-dark);
        background-color: var(--background-input);

        &:hover {
            animation: borders 1s linear infinite;
        }

        &:focus {
            box-shadow: none;
            border-color: var(--color-dark-variant);
        }

        & option {
            background-color: var(--background-input);
            color: var(--color-dark);
        }
    }
}

@keyframes borders {
    0% {
        border-bottom: .1rem solid var(--color-dark);
    }

    25% {
        border-right: .1rem solid var(--color-dark);
    }

    50% {
        border-top: .1rem solid var(--color-dark);
    }

    75% {
        border-left: .1rem solid var(--color-dark);
    }

    100% {
        border: .1rem solid transparent;
    }
}


/* Toast */
.background-green{
  background-color: green;
}
.background-yellow{
  background-color: yellow;
}
.background-blue{
  background-color: blue;
}
.background-red{
  background-color: red;
}
#toast__container {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 100;
}

.toast-notification {
	background: white;
	width: 20rem;
	border-radius: var(--medium-border-radius);
	box-shadow: var(--card-sm-shadow);
	overflow: hidden;

	&+& {
		margin-top: 1rem;
	}
}

.toast-notification .toast-content {
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 0 1rem;
}

.toast-notification .toast-icon {
	color: #fff;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	& span{
		font-size: 1.25rem;
	}
}

.toast-notification .toast-progress {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.toast-notification .toast-msg {
	flex: 1;
}

.toast-notification .toast-progress-bar {
	height: .25rem;
	animation: toastProgress 2s ease-in-out forwards;
}

.slide-in-slide-out {
	animation: slideInRight 0.3s ease-in-out forwards, slideOutRight 0.5s ease-in-out forwards 2s;
	transform: translateX(110%);
}

.slide-in-fade-out {
	animation: slideInRight 0.3s ease-in-out forwards, fadeOut 0.5s ease-in-out forwards 2s;
	transform: translateX(110%);
}

.wiggle-me {
	animation: wiggle 2.5s ease-in;
}

@keyframes slideInRight {
	0% {
		transform: translateX(110%);
	}

	75% {
		transform: translateX(-10%);
	}

	100% {
		transform: translateX(0%);
	}
}

@keyframes slideOutRight {
	0% {
		transform: translateX(0%);
	}

	25% {
		transform: translateX(-10%);
	}

	100% {
		transform: translateX(110%);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes toastProgress {
	0% {
		width: 100%;
	}

	100% {
		width: 0%;
	}
}

@keyframes wiggle {

	0%,
	7% {
		transform: rotateZ(0);
	}

	15% {
		transform: rotateZ(-13deg);
	}

	20% {
		transform: rotateZ(9deg);
	}

	25% {
		transform: rotateZ(-10deg);
	}

	30% {
		transform: rotateZ(7deg);
	}

	35% {
		transform: rotateZ(-2deg);
	}

	40%,
	100% {
		transform: rotateZ(0);
	}
}

/* End toast */