@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  /* Colorize */
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #00ff15;
  --color-success-subtle: #00ff158e;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-switch: #252525;
  --color-dark-variant: #8a8383;
  --color-background: #f6f6f9;
  --background-primary: var(--color-light);
  /* Decorating */
  --btn-border-radius: 1.5rem;
  --card-border-radius: 1.5rem;
  --sidebar-border-radius: 1rem;
  /* Sizing */
  --card-padding: 1.8rem; 
  --btn-padding: 0.5rem 1rem;
  --btn-border: .12rem;
  --input-height: 2rem;
  /* Effect */
  --box-shadow: 0 2rem 3rem var(--color-light);
  /* Animation */
  --transition-ease: all 0.3s ease;
}

.dark-mode-variables {
  --background-primary: #415878a9;
  --color-background: #181a1e;
  --color-white: #415878a9;
  --color-dark: #ffffff;
  --color-light: rgba(0, 0, 0, 0.4);
  --color-info-dark: #ffffff;
  --color-dark-switch: #6c9bcf;
  --color-dark-variant: #cedbe3;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

a {
  color: var(--color-dark);
  text-decoration: none;
}
nav,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.bg-dark-primary {
  background-color: var(--color-dark-switch);
}

.container-grid {
  grid-template-columns: 12rem auto;
}

.btn-custom {
  padding: var(--btn-padding);
  color: var(--color-dark);
  border-radius: var(--btn-border-radius);
  transition: var(--transition-ease);
  &.btn-success {
    border: var(--btn-border) solid var(--color-success);
    &:hover {
      background-color: var(--color-success);
      color: #ffffff;
    }
  }
  &.btn-warning {
    border: var(--btn-border) solid var(--color-warning);
    &:hover {
      background-color: var(--color-warning);
      color: #ffffff;
    }
  }
  &.btn-danger {
    border: var(--btn-border) solid var(--color-danger);
    &:hover {
      background-color: var(--color-danger);
      color: #ffffff;
    }
  }
}

.image-custom {
  --size-img: 4rem;
  width: var(--size-img);
  height: var(--size-img);
  border-radius: 10%;
  overflow: hidden;
  &.size-s {
    --size-img: 3rem;
  }
}

aside .toggle {
  margin-top: 1.4rem;
}

aside .toggle .logo {
  display: flex;
  gap: 0.5rem;
}

aside .toggle .logo img {
  width: 2rem;
  height: 2rem;
}

aside .toggle .close {
  padding-right: 1rem;
  display: none;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--sidebar-border-radius);
  height: 85vh;
  position: relative;
  overflow: hidden;
  transition: var(--transition-ease);
  &:hover {
    box-shadow: none;
  }
}

aside .sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-info-dark);
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: var(--transition-ease);
  width: 100%;
  & span {
    font-size: 1.6rem;
    transition: var(--transition-ease);
  }
  &:last-child {
    position: absolute;
    bottom: 2rem;
  }
}

aside .sidebar a.active {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-light);
  margin-left: 0;
  &::before {
    content: "";
    border-radius: 0.2rem;
    width: 0.4rem;
    height: 60%;
    background-color: var(--color-primary);
  }
  & span {
    color: inherit;
    margin-left: calc(1rem - 5px);
    font-weight: bold;
  }
  & h3 {
    font-weight: bold;
  }
}

aside .sidebar a:not(.active):hover {
  color: var(--color-primary);
  & span {
    margin-left: 0.6rem;
  }
  & h3 {
    font-weight: bold;
  }
}

main .analyse {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .analyse > div {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

main .analyse > div:hover {
  box-shadow: none;
}

main .analyse > div .status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .analyse h3 {
  margin-left: 0.6rem;
  font-size: 1rem;
}

main .analyse .progresss {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .analyse svg {
  width: 7rem;
  height: 7rem;
}

main .analyse svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

main .analyse .sales svg circle {
  stroke: var(--color-success);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .visits svg circle {
  stroke: var(--color-danger);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .searches svg circle {
  stroke: var(--color-primary);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .progresss .percentage {
  position: absolute;
  top: -3px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

main .recent-orders {
  margin-top: 1.3rem;
}

/* Table CSS */
main .my-table {
  width: 100%;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: var(--transition-ease);
  overflow: hidden;
  &:hover {
    box-shadow: none;
  }
  & tr {
    height: 2.5rem;
  }
  & tbody tr {
    border-top: 1px solid var(--color-dark-variant);
    color: var(--color-dark-variant);
    cursor: pointer;
    &:hover {
      background-color: var(--color-light);
    }
  }
}

.right-section .nav {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right-section .nav button {
  display: none;
}

.dark-mode {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.dark-mode span {
  color: var(--color-dark);
  width: 100%;
  height: 100%;
  &:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
  }
}

.right-section .nav .profile {
  display: flex;
  gap: 1rem;
  text-align: right;
}

.right-section .nav .profile .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.w-60 {
  width: 60% !important;
}

.card-border-radius {
  border-radius: var(--card-border-radius);
}

.card,
.card-header {
  background-color: var(--color-white);
  color: var(--bs-heading-color);
  overflow: hidden;
  border: none;
}

.badge {
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }

  main .analyse {
    grid-template-columns: 1fr;
    gap: 0;
  }

  main .new-users .user-list .user {
    flex-basis: 40%;
  }

  main .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }

  main .recent-orders table {
    width: 83vw;
  }

  main table thead tr th:last-child,
  main table thead tr th:first-child {
    display: none;
  }

  main table tbody tr td:last-child,
  main table tbody tr td:first-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 var(--padding-1);
  }

  aside {
    position: fixed;
    background-color: var(--color-white);
    width: 15rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    left: -100%;
    display: none;
    animation: showMenu 0.4s ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }

  aside .toggle .close {
    display: inline-block;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .new-users .user-list .user {
    flex-basis: 35%;
  }

  main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .recent-orders table {
    width: 100%;
    margin: 0;
  }

  .right-section {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right-section .nav {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: var(--color-white);
    padding: 0 var(--padding-1);
    height: 4.6rem;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
    margin: 0;
  }

  .right-section .nav .dark-mode {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right-section .profile .info {
    display: none;
  }

  .right-section .nav button {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .right-section .nav button span {
    font-size: 2rem;
  }
}
