<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Shoe shop</title>
    
    <link rel="stylesheet" href="/public/common/css/style.css" />
</head>

<body>
    <div class="container-center">
        <style>
            body {
                background: linear-gradient(135deg, #2f70b0, #62b5ec);

            }
            .divider-message{
                background: transparent

            }
        </style>
        <div class="row">
            <div class="col p-0">
                <div class="login-box">
                    <div class="login-space">
                        <h2 class="login-banner mb-3">Login</h2>
                        <form action="login" method="post" class="login">
                            <div class="group">
                                <label class="label">Email:</label>
                                <input name="email" type="text" class="input email-input" placeholder="Enter your email"
                                    required>
                                <span class="error email-error"></span>
                            </div>
                            <div class="group">
                                <label class="label">Password:</label>
                                <input name="password" type="password" class="input password" name="password"
                                    placeholder="Enter your password" required>
                                <span class="error password-error"></span>
                                <% if (locals.message) { %>
                                    <span class="error password-error">
                                        <%= locals.message %>
                                    </span>

                                    <% } %>
                            </div>
                            <div class="group">
                                <input id="remember_me" type="checkbox" class="check" checked>
                                <label for="check"><span class="icon"></span>Remember me</label>
                            </div>
                            <div class="group text-center">
                                <button type="submit"
                                    class="btn btn-info rounded-pill text-white w-25 pt-2 pb-2">Login</button>
                            </div>
                            <div class="divider-method mt-4 mb-4 text-muted">
                                <span class="divider-message">or</span>
                            </div>
                            <div class="other-method">
                                <a class="btn btn-lg btn-danger rounded-pill mb-2 text-white d-block"
                                    href="/google/login"><i class="fab fa-google me-2"></i> Sign in with google</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="/public/common/js/main.js"></script>
</body>

</html>