<!-- Modal -->
<div class="modal fade" id="addNewCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <section class="my-modal-content p-4">
          <h1 class="title mb-4 text-gradient">Add category</h1>
          <div class="form-add">
            <div class="form-content form-custom">
              <div class="form-field pt-3 pb-3">
                <label class="label">Category name: </label>
                <input name="name" class="input-text cat-name-input" type="text" required>
                <label class="error-msg add-categorys"> </label>
              </div>
            </div>
            <button class="btn-custom btn-success fw-bold mt-4 margin-auto d-block add-categorys">Add</button>
          </div>
          <button class="fw-bold close close-btn" data-bs-dismiss="modal">
            <span class="material-icons-sharp " onclick=""> close </span>
          </button>
        </section>
      </div>
    </div>
  </div>
</div> 