<!-- <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm"> -->
<table class="my-table box-shadow-primary text-center">
    <thead>
        <tr>
            <th width="10%">ID</th>
            <th width="10%">Image</th>
            <th>Name</th>
            <th width="20%">...</th>
            <th width="25%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span>13353</span></td>
            <td class="flex-center-center column-gap-3 padding-1">
                <div class="thumb">
                    <img class="image-custom size-m" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                </div>
            </td>
            <td>
                <span>Television</span>
            </td>
            <td>
                <span class="">3</span>
            </td>
            <td>
                <div class="flex-center-center column-gap-2 flex-wrap-wrap">
                    <a href="/account/edit" class="btn-custom btn-warning">Edit</a>
                    <a href="/account/delete" class="btn-custom btn-danger">Delete</a>
                </div>
            </td>
        </tr>
        <tr>
            <td><span>13353</span></td>
            <td class="flex-center-center column-gap-3 padding-1">
                <div class="thumb">
                    <img class="image-custom size-m" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                </div>

            </td>
            <td>
                <span>Television</span>
            </td>
            <td>
                <span class="">3</span>
            </td>
            <td>
                <div class="flex-center-center column-gap-2 flex-wrap-wrap">
                    <a href="/account/edit" class="btn-custom btn-warning">Edit</a>
                    <a href="/account/delete" class="btn-custom btn-danger">Delete</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="text-center mt-4">
    <ul class="pagination">
        <a class="prev page-numbers" href="#">Prev</a>
        <span aria-current="page" class="page-numbers active">1</span>
        <a class="page-numbers" href="#">2</a>
        <a class="page-numbers" href="#">3</a>
        <a class="next page-numbers" href="#">Next</a>
    </ul>
</div>