<!-- Modal -->
<div class="modal fade" id="editCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <section class="my-modal-content p-4">
          <h1 class="title mb-4 text-gradient">Edit category</h1>
          <div class="form-add">
            <div class="form-content form-custom">
              <div class="form-field pt-3 pb-3">
                <label class="label">Category name: </label>
                <input name="name" class="input-text edit-cat-name" type="text" value="Giay the thao" required>
                <label class="error-msg pt-3"> </label>
              </div>
            </div>
            <button  class="btn-custom btn-success fw-bold mt-4 margin-auto d-block update-category update-btn">Change</button>
          </div>
          <button class="fw-bold close" data-bs-dismiss="modal">
            <span class="material-icons-sharp"> close </span>
          </button>
        </section>
      </div>
    </div>
  </div>
</div>