  <!-- Modal -->
  <div class="modal fade" id="shipOrder" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-0">
          <section class="my-modal-content form-radius">
            <h1 class="title mb-2 text-gradient">Confirm to ship this order</h1>
            <div class="form-add text-center">
              <p class="p-2 pt-3 pb-3">Please confirm ship this order!</p>
              <button class="btn-custom btn-danger fw-bold m-4 mb-2 ship-order-btn">Confirm</button>
            </div>
            <button class="close" data-bs-dismiss="modal">
              <span class="material-icons-sharp"> close </span>
            </button>
          </section>
        </div>
      </div>
    </div>
  </div>