<!-- Modal -->
<div class="modal fade" id="viewOrder" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg ">
    <div class="modal-content">
      <div class="modal-body p-0">
        <section class="order my-modal-content p-4">
          <h1 class="title mb-4 text-gradient">Order infomation</h1>
          <div class="order-info">
            <div class="details ">
              <h5 class="order-title">Customer name: <span> Tran Nguyen Gia Huy</span></h5>
              <h5 class="order-detail order-email">Email: <span>anhdevwen123@gmail.com</span></h5>
              <h5 class="order-detail order-address">Address: <span>TP Thu Duc, Ho Chi Minh</span></h5>
              <h5 class="order-detail order-phone">Phone: <span>0123123123</span></h5> 
            </div>

            <div class="mt-4">
              <table class="my-table text-center medium-shadow">
                <thead>
                  <tr>
                    <th width="8%">STT</th>
                    <th width="10%">Image</th>
                    <th>Name</th>
                    <th width="8%">Quantity</th>
                    <th width="20%">Price</th>
                    <th width="20%">Total</th>
                  </tr>
                </thead>
                <tbody class="order-lines">
                  <tr>
                    <td><span>1</span></td>
                    <td class="flex-center-center column-gap-3 padding-1">
                      <div class="thumb">
                        <img class="image-custom size-m" src="https://bootdey.com/img/Content/avatar/avatar1.png"
                          alt="">
                      </div>
                    </td>
                    <td>
                      <span class="limit-line line-3">Television</span>
                    </td>
                    <td>
                      <span class="">3</span>
                    </td>
                    <td>
                      <span class="currency">7000000</span>
                    </td>
                    <td>
                      <span class="currency">21000000</span>
                    </td>
                  </tr>
                  <tr>
                    <td><span>2</span></td>
                    <td class="flex-center-center column-gap-3 padding-1">
                      <div class="thumb">
                        <img class="image-custom size-m" src="https://bootdey.com/img/Content/avatar/avatar1.png"
                          alt="">
                      </div>

                    </td>
                    <td>
                      <span class="limit-line line-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                        fuga praesentium reiciendis, impedit aut nesciunt earum. Ducimus, cum explicabo debitis quisquam
                        magnam officiis porro doloremque dicta! Pariatur hic optio ipsam?</span>
                    </td>
                    <td>
                      <span class="">10</span>
                    </td>
                    <td>
                      <span class="currency">350000</span>
                    </td>
                    <td>
                      <span class="currency">3500000</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex flex-column order-bill-responsive ml-auto mt-4 p-2 order-accounting">
                <div class="total-price d-flex justify-content-between">
                  <h5>Total price:</h5>
                  <span class="currency total-amount">4500000</span>
                </div>
                <div class="total-price d-flex justify-content-between">
                  <h5>Discount:</h5>
                  <span class="currency discount-amount">50000</span>
                </div>
                <div class="total-price d-flex justify-content-between">
                  <h5>Final:</h5>
                  <span class="currency final-amount">4450000</span>
                </div>
              </div>
            </div>
          </div>
          <button class="close" data-bs-dismiss="modal">
            <span class="material-icons-sharp"> close </span>
          </button>
        </section>
      </div>
    </div>
  </div>
</div>