<!-- <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm"> -->
<table class="my-table box-shadow-primary text-center  ">
    <thead>
        <tr>
            <th width="7%">ID</th>
            <th>Info</th>
            <th width="10%">Status</th>
            <th width="15%">Action</th>
        </tr>
    </thead>
    <tbody class="account-list">
        <tr class="account-item" data-id="10">
            <td><span>10</span></td>
            <td class="flex-start-center column-gap-custom padding-1 mlr-1">
                <div class="thumb">
                    <img class="avatar size-35" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                </div>
                <div>
                    <h5 class="text-start">Quach Duc Huy</h5> 
                    <div class="user-info">
                        <ul class="list-unstyled text-start">
                            <li class="w-100">Account id: 123</li>
                            <li class="w-100">Balance: <span class="currency">100000</span></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td class="position-relative">
                <span class="position-center">Active</span>
            </td>
            <td>
                <div class="flex-center-center column-gap-custom flex-wrap mt-2">
                    <button class="btn-custom p-0 delete-account">
                        <span class="material-icons-sharp deleted" data-bs-toggle="modal" data-bs-target="#deleteAccount" data-id="2">
                            delete </span>
                    </button>
                    <button class="btn-custom p-0 ban-account">
                        <span class="material-icons-sharp banned" data-bs-toggle="modal" data-bs-target="#banAccount" data-id="2">
                            block </span>
                    </button>
                </div>
            </td>
        </tr>
        <tr class="account-item" data-id="11">
            <td><span>11</span></td>
            <td class="flex-start-center column-gap-custom padding-1 mlr-1">
                <div class="thumb">
                    <img class="avatar size-35" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                </div>
                <div>
                    <h5 class="text-start">Ngo Quoc Huy</h5>
                    <div class="user-info">
                        <ul class="d-flex flex-wrap text-start">
                            <li>Not register account yet</li> 
                        </ul>
                    </div>
                </div>
            </td>
            <td>
                <span class="">Banned</span>
            </td>
            <td>
                <div class="flex-center-center column-gap-custom flex-wrap-wrap mt-2">
                    <button class="btn-custom p-0 delete-account">
                        <span class="material-icons-sharp deleted" data-bs-toggle="modal" data-bs-target="#deleteAccount" data-id="2">
                            delete </span>
                    </button>
                    <button class="btn-custom p-0 ban-account">
                        <span class="material-icons-sharp banned" data-bs-toggle="modal" data-bs-target="#banAccount" data-id="2">
                            block </span>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="text-center mt-4">
    <ul class="pagination">
        <a class="prev page-numbers" href="#">Prev</a>
        <span aria-current="page" class="page-numbers active">1</span>
        <a class="page-numbers" href="#">2</a>
        <a class="page-numbers" href="#">3</a>
        <a class="next page-numbers" href="#">Next</a>
    </ul>
</div>