  <!-- Modal -->
  <div class="modal fade" id="addNewAccount" data-bs-backdrop="static" data-bs-keyboard="false" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content"> 
        <div class="modal-body p-0">
          <section class="my-modal-content p-4">
            <h1 class="title mb-4 text-gradient">Add account</h1>
            <form class="form-add" method="post" action="#"> 
                <div class="form-content form-custom">
                  <div class="form-field">
                    <label class="label">Balance(VND): </label>
                    <input type="number" name="balance" class="input-text" min="10000" step="10000" value="50000" required>
                    <label class="error-msg"></label>
                   </div>
                  </div> 
              <button type="submit" class="btn-custom btn-success fw-bold mt-4 margin-auto d-block">Add</button>
            </form>
            <button class="fw-bold close" data-bs-dismiss="modal">
              <span class="material-icons-sharp"> close </span>
            </button>
          </section>
        </div>
      </div>
    </div>
  </div>