<aside class="">
    <div class="sidebar">
        <a href="/admin" class="active">
            <span class="material-icons-sharp"> dashboard </span>
            <h3>Dashboard</h3>
        </a>
        <a href="/admin/account">
            <span class="material-icons-sharp"> person_outline </span>
            <h3>Account</h3>
        </a>
        <a href="/admin/category">
            <span class="material-icons-sharp"> report_gmailerrorred </span>
            <h3>Category</h3>
        </a>
        <a href="/admin/product">
            <span class="material-icons-sharp"> receipt_long </span>
            <h3>Product</h3>
        </a>
        <a href="/admin/order">
            <span class="material-icons-sharp"> receipt_long </span>
            <h3>Orders</h3>
        </a>
        <a href="/admin/logout">
            <span class="material-icons-sharp">
                logout
            </span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>