<!-- Modal -->
<div class="modal fade" id="addNewProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl ">
    <div class="modal-content">
      <div class="modal-body p-0">
        <section class="my-modal-content p-4">
          <h1 class="title mb-4 text-gradient">Add product</h1>
          <form class="form-add" method="post" enctype="multipart/form-data" action="/products">
            <div class="form-add-grid form-grid-responsive gap-4">
              <div class="upload">
                <div class="upload-wrapper wrapper-custom">
                  <h2 class="upload-title">Upload image</h2>
                  <div class="upload-img">
                    <!-- image here -->
                  </div>
                  <div class="upload-info">
                    <p>
                      <span class="upload-info-value">0</span> file(s) uploaded.
                    </p>
                  </div>
                  <div class="upload-area area-add">
                    <div class="upload-area-img">
                      <span class="material-icons-sharp">
                        cloud_upload
                      </span>
                    </div>
                    <p class="upload-area-text">Select images or <span>browse</span>.</p>
                  </div>
                  <input type="file" class="visually-hidden" id="upload-input" multiple name="images" required>
                </div>
              </div>
              <div class="form-content form-custom">
                <div class="form-field">
                  <label class="label">Product name: </label>
                  <input name="name" class="input-text" type="text" required>
                  <label class="error-msg"></label>
                </div>
                <div class="form-field ">
                  <label class="label">Price:</label>
                  <input name="price" class="input-text" type="number" min="0" value="0" step="1000" required>
                </div>
                <div class="form-field ">
                  <label class="label">Category:</label>
                  <select name="catId" class="form-select" required> 
                    <% categories.forEach(category=> { %>
                      <option value="<%= category.id %>">
                        <%= category.name %>
                      </option>
                      <% }) %>
                  </select>
                </div>
                <div class="form-field ">
                  <label class="label">Brand:</label>
                  <select name="brandId" class="form-select" required> 
                    <% brands.forEach(brand => { %>
                      <option value=<%= brand.id %>><%= brand.brand_name %></option>
                    <% }) %>
                    
                  </select>
                </div>
                <div class="form-field ">
                  <label class="label">Size and Stock:</label>
                  <button type="button" class="btn-custom btn-warning fw-bold mx-3" style="zoom: .9;"
                    id="addModal-stock-btn">
                    <div class="d-flex align-items-center column-gap-1">
                      <h5>Add</h5> <span class="material-icons-sharp"> add </span>
                    </div>
                  </button>
                  <div id="add-size-stock-container" class="d-flex flex-wrap gap-3 pt-2 pb-2"></div>
                  <label class="error-msg add_product"></label>
                </div> 
                <div class="form-field">
                  <label class="label">Description</label>
                  <textarea name="description" class="input-text" type="text" required style="resize: none;"></textarea>
                  <label class="error-msg"></label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn-custom btn-success fw-bold px-4 mt-4 margin-auto d-block">Add</button>
          </form>
          <button class="fw-bold close" data-bs-dismiss="modal">
            <span class="material-icons-sharp"> close </span>
          </button>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
//   document.getElementById("addProductForm").addEventListener("submit", async function (event) {
//     event.preventDefault();

//     try {
//         // Serialize form data into FormData object
//         const formData = new FormData(event.target);

//         // Make an asynchronous POST request to the server
//         const response = await fetch("/products", {
//             method: "POST",
//             body: formData,
//         });

//         // Handle the response data
//         const data = await response.json();
//         if (data.success) {
//             // Reload the product page after successful product addition
//             location.reload();
//         } else {
//             // Handle errors or display a success message if needed
//             console.error("Failed to add product:", data.message);
//             alert("Failed to add product. Please try again.");
//         }
//     } catch (error) {
//         console.error("Error:", error);
//         alert("An error occurred. Please try again.");
//     }
// });
</script>