<!-- Modal -->
<div class="modal fade" id="addNewStock" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <section class="my-modal-content p-4">
          <h1 class="title mb-4 text-gradient">Add size and stock</h1>
          <form id="form-add-stock" method="get" action="#">
            <div class="form-content flex-between-center">
              <div class="custom-form-field">
                <label class="label fw-bold">Size: </label>
                <select id="stock-size" class="form-select" required>
                  <option value="1" selected>S</option>
                  <option value="2">M</option>
                  <option value="3">L</option>
                </select>
                <label class="error-msg"></label>
              </div>
              <div class="custom-form-field">
                <label class="label fw-bold">Quantity: </label>
                <input type="number" id="stock-quantity" class="input-text" min="1" step="1" value="1" required>
                <label class="error-msg"></label>
              </div>
            </div>
            <button type="submit" class="btn-custom btn-success fw-bold mt-4 margin-auto d-block">Add</button>
          </form>
          <button class="fw-bold close" data-bs-dismiss="modal">
            <span class="material-icons-sharp"> close </span>
          </button>
        </section>
      </div>
    </div>
  </div>
</div>