<!-- <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm"> -->
    <table class="my-table box-shadow-primary text-center">
        <thead>
            <tr>
                <th width="7%">ID</th>
                <th width="10%">Image</th>
                <th>Name</th>
                <th width="10%">Category</th> 
                <th width="13%">Price</th>
                <th width="20%">Action</th>
            </tr>
        </thead>
        <tbody class="product-list">
            <tr class="product-item" data-id="1">
                <td><span>13353</span></td>
                <td class="flex-center-center column-gap-3 padding-1">
                    <div class="thumb">
                        <img class="image-custom size-m" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    </div>
                </td>
                <td>
                    <span>Fan</span>
                </td>
                <td>
                    <span>Furniture</span>
                </td> 
                <td>
                    <span class="currency">2000003</span>
                </td>
                <td>
                    <div class="flex-center-center column-gap-2 flex-wrap-wrap">
                        <button class="btn-custom btn-warning edit-product" data-bs-toggle="modal" data-bs-target="#editProduct" data-id="1">Edit</button>
                        <button class="btn-custom btn-danger delete-product" data-bs-toggle="modal" data-bs-target="#deleteProduct" data-id="1">Delete</button>
                    </div>
                </td>
            </tr>
            <tr class="product-item" data-id="2">
                <td><span>13353</span></td>
                <td class="flex-center-center column-gap-3 padding-1">
                    <div class="thumb">
                        <img class="image-custom size-m" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    </div>
    
                </td>
                <td>
                    <span class="limit-line line-2">Samsung TV Super Amoled 42 Inch Full HD 4096MP Made in ShangHai, China of Alibaba Limited Co.</span>
                </td>
                <td>
                    <span>Electronic</span>
                </td> 
                <td>
                    <span class="currency">3000000</span>
                </td>
                <td>
                    <div class="flex-center-center column-gap-2 flex-wrap-wrap">
                        <button class="btn-custom btn-warning edit-product" data-bs-toggle="modal" data-bs-target="#editProduct" data-id="2">Edit</button>
                        <button class="btn-custom btn-danger delete-product" data-bs-toggle="modal" data-bs-target="#deleteProduct" data-id="2">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center mt-4">
        <ul class="pagination">
            <a class="prev page-numbers" href="#">Prev</a>
            <span aria-current="page" class="page-numbers active">1</span>
            <a class="page-numbers" href="#">2</a>
            <a class="page-numbers" href="#">3</a>
            <a class="next page-numbers" href="#">Next</a>
        </ul>
    </div>